body, html, #root{
    margin: 0;
    padding: 0;
    background-color: #344960;
}

.texto-home{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #C0A293;
}

.color{
    background-color: #C0A293;
    color: #344960;
}

.color_b{
    color: #344960;
}


